*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

#container{
    width: 80%;
    margin: 0 auto ;
    background-color: cornflowerblue;
    height: auto;
}

header{
    width: 100%;
    height: 120px;
    float: left;
    background-color: coral;
}

main{
    width: 100%;
    height: auto;
    float: left;
    background-color: brown;
}

footer{
    width: 100%;
    height: 140px;
    float: left;
    background-color: cornflowerblue;
}

#banner{
    width: 100%;
    height: 320px;
}

#destaques{
    width: 100%;
    height: auto;
    float: left;
    background-color: cadetblue;

}

.destaques-colunas{
    width: 50%;
    height: 500px;
    float: left;
    background-color: brown;
    border: 1px solid black;
}

#jogos{
    width: 100%;
    height: auto;
    float: left;
    background-color: aqua;
}

.jogos-colunas{
    width: 25%;
    height: 500px;
    float: left;
    background-color: chartreuse;
    border: 1px solid black;
}